
:root{
    --bg: #F0F4F8;
    --card: #FFFFFF;
    --text: #051933;
    --muted: #193763;
    --accent: #0A3871;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(53, 53, 53, 0.448);
    color: var(--text);
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    background: var(--accent);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input{
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    outline: none;
}

main{
    padding: 20px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

#informativo{
    padding: 20px;
    display: grid;
    margin: 16px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.card{
    background-color:rgba(149, 142, 222, 0.5);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform .15s;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-4px);
}

.card h2{
    margin: 0 0 10px 0;
    color: var(--accent);
}

.card p{
    margin: 0;
    color: var(--muted);
}


.modal{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.modal-content{
    background: var(--card);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.close{
    float: right;
    cursor: pointer;
    font-size: 24px;
    color: var(--accent);
}

